<!doctype html>
<html>
  <head>
    <title>Eai</title>
    <meta charset="utf-8">
  </head>
  <body>
      <h1>Eai</h1>
      <form action="" method="POST">
<fieldset>
<legend>Informações pessoais</legend>
Nome:<br>
<input type="text" name="nome" required autofocus maxlength="5"><br>
Senha:<br>
<input type="password" name="Senha"><br>
Email:<br>
<input type="email" name="email" required autocomplete="on" placeholder="seumeial@gmail.com"><br>


Data:<br>

<input type="date" name="data"  min="2000-12-31" max="2017-12-31"><br><br>


  


Telefone:<br>

<input type="tel" name="telefone"><br>



<input type="submit" name="btn.enviar" value="enviar">
</fieldset>
</form>
  </body>
</html>