<!doctype html>
<html>
 <% include partials/head.ejs %>

  <body>
    <div class="container">
      <h1>Find HTML URLs</h1>

      <div class="col-lg-12">
        <form class="form" method="post" action="/">
          <div class="form-group">
            <label>URL</label>
            <input class="form-control url-input" type="text" name="url">
          </div>
          <button type="submit" class="btn btn-info send">Find</button>
        </form>
      </div>
  </body>
</html>